<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="stylesheet.css">
</head>
<ul>
    <li><a href="injera.html">HOME</a></li>
    <li><a href="#recipeList">Recipe List</a></li></ul>
<body
        style="background-color:powderblue;">
<body background="flag.jpg">
<img src="injeraimage/background/background.jpg" alt="This is a back ground image"/>
<h1 style="text-align:center;">This is my recipe book</h1>
<p class="vegie"> I am vegie combo</p>
</body>
</html>